<div [className]="'reset-pass-wrapper'">
	<div [className]="'reset-pass-field'">
		<h2>
			Old password
		</h2>
		<input type="password" [(ngModel)]="oldPass">
	</div>
	<div [className]="'reset-pass-field'">
		<h2>
			New password
		</h2>
		<input type="password" [(ngModel)]="firstNewPass">
	</div>
	<div [className]="'reset-pass-field'">
		<h2>
			Confirm password
		</h2>
		<input type="password" [(ngModel)]="secondNewPass">
	</div>

	<div [className]="'reset-pass-btn-wrapper'">
		<button [className]="'btn-back'" data-toggle="tooltip" data-placement="bottom" title="Go back"
			routerLink="/app/dashboard">&lt;</button>
		<button (click)="updatePassword()">Reset password</button>
	</div>
</div>