@import "src/styles";

.reset-pass-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 33em;
	margin-top: 3em;
}

.reset-pass-field {
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		font-size: 1.2em;
		margin-bottom: .2em;
	}

	input[type=password] {
		border: 1px solid $asbestos;
		border-radius: 1em;
		background-color: $white;
		font-size: 1.2rem;
		padding: .5em 2em;
		width: 125%;
		min-width: 250px;

		&:focus {
			border: 2px solid $wetasphalt;
			outline: none;
		}
	}
}

button {
	border: 1px solid $wetasphalt;
	border-radius: 20px;
	padding: .7em 1.5em;
	font-size: 1.2rem;
	letter-spacing: .05em;
	background-color: $wetasphalt;
	color: $white;
	@include button_hover;
}


@media (max-width: 450px) {
	.reset-pass-field input[type=password] {
		width: 90%;
	}
}