<div [className]="'reset-pass-wrapper'">
	<div [className]="'reset-pass-field'">
		<h2>
			Old password
		</h2>
		<input type="password" [(ngModel)]="oldPass">
	</div>
	<div [className]="'reset-pass-field'">
		<h2>
			New password
		</h2>
		<input type="password" [(ngModel)]="firstNewPass">
	</div>
	<div [className]="'reset-pass-field'">
		<h2>
			Confirm password
		</h2>
		<input type="password" [(ngModel)]="secondNewPass">
	</div>

	<button (click)="updatePassword()">
		Reset password
	</button>
</div>