@import "src/styles";

button {
	outline: none;
	border: none;
	border-radius: 1em;
	position: fixed;
	top: 50px;
	left: 50px;
	height: 2em;
	width: 4em;
	background-color: var(--table-bg);
	color: var(--text-gray);
	font-size: 2rem;
	box-shadow: .3em .3em .3em rgba(0, 0, 0, .1);
	@include button_hover;
}

@media (max-width: 1600px) {
	button {
		width: 100%;
		left: 0;
		top: 0;
		border-radius: 0;
	}
}