@import "src/styles";

$img-width: 45%;
$login-width: 100% - $img-width;

.login-body {
	display: flex;
	margin: 15vh auto;
	width: 70vw;
	height: 70vh;
	background-color: var(--white);
	color: var(--wetasphalt);
	border: 1px solid var(--white);
	border-radius: 1em;
	box-shadow:
		0 .5em .5em rgba(0, 0, 0, .1),
		0 -.5em .5em rgba(0, 0, 0, .1),
		.5em 0 .5em rgba(0, 0, 0, .1),
		-.5em 0 .5em rgba(0, 0, 0, .1);

	.login-img {
		width: $img-width;
		height: 100%;
		background-color: var(--orange);
		border-top-left-radius: 1em;
		border-bottom-left-radius: 1em;
		margin-right: .1em;
		box-shadow: .5em 0 .5em white;
		overflow: hidden;
		position: relative;

		.animation-icon {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 50%;
			transform: translate(150%, -50%);
		}

		#done1 {
			transform: translate(-50%, -50%);
		}
	}

	.login-wrapper {
		width: $login-width;
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 3em;
	}

	h1 {
		font-size: 3rem;
	}

	form {
		.username-wrapper, .password-wrapper {
			margin-bottom: 2em;
			display: flex;
			flex-direction: column;
		}

		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 3em 2em 0;

		label {
			margin-bottom: .3em;
		}

		label, span {
			margin-left: 1em;
		}

		span {
			margin-top: .2em;
			transition: all 250ms ease-in-out;
			opacity: 0;
			font-size: 0;
		}

		input {
			border: 1px solid var(--asbestos);
			border-radius: .5em;
			font-size: 1.5rem;
			padding: .3em 1em;
			letter-spacing: .05em;

			&:focus {
				border: .08em solid var(--wetasphalt);
			}
		}

		@include validation-error;
	}


	button {
		background-color: var(--wetasphalt);
		color: var(--white);
		border: none;
		border-radius: .5em;
		font-size: 1.5rem;
		padding: .5em 1.3em;
		@include button-hover;
		
		&:enabled {
			cursor: pointer;
		}
	}
}

@media (max-width: 1024px) {
	.login-body{
		padding: 2em 0;
		background-color: var(--orange);


		.login-img {
			display: none;
		}

		.login-wrapper {
			z-index: 2;
			justify-content: center;
			margin: 15% auto;
			background-color: var(--white);
			width: 100%;
			height: auto;

			form {
				margin: 2em;
			}
		}
	}
}

@media (max-width: 550px) {
	.login-body {
		margin: 0;
		border-radius: 0;
		height: 100vh;
		width: 100vw;
		align-items: center;

		.login-wrapper form {
			margin: 2em 3em;

			input {
				font-size: 1.3rem;
			}
		}
	}
}