@import "src/styles";

.modal-content {
	border-radius: 3em;
	text-align: center;
	padding: 3.5em 5em;
	line-height: 1.2;
	background-color: var(--table-bg);
}

.warning-first {
	font-size: 3rem;
	margin-bottom: 0;

	span {
		font-weight: bold;
	}
}

.horizontal-bar {
	margin: 1.5em 3em;
	height: .2em;
	background-color: var(--text);
}

.warning-second {
	font-size: 2.5rem;
	padding: 0 2em;
}

.warning-checkbox {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 1.5em 0;
	color: var(--asbestos);
	font-size: 1.7rem;

	&:hover input ~ .checkbox-box {
		background-color: rgba(0, 0, 0, .1);
	}

	input:checked ~ .checkbox-box {
		background: var(--asbestos) url("/assets/img/check.svg") 3px 3px no-repeat;
		background-size: .5em;
	}

	* {
		cursor: pointer;
	}

	label {
		margin-left: .5em;
	}

	input[type="checkbox"] {
		opacity: 0;
		height: 0;
		width: 0;
	}

	.checkbox-box {
		width: 23px;
		height: 23px;
		border: 2px solid var(--asbestos);
		border-radius: 3px;
		box-shadow: .1em .1em .1em rgba(0, 0, 0, .3);
		margin: .15em 0 0 0;
	}
}

button {
	border: 3px solid var(--wetasphalt);
	border-radius: 20px;
	width: 7em;
	padding: .5em 1em;
	font-size: 1.7rem;
	font-family: 'Aleo', serif;
	letter-spacing: .03em;
	cursor: pointer;
	@include button-hover;
}

.button-row {
	display: flex;
	justify-content: space-around;
}

#back-btn {
	background-color: var(--back-btn);
	color: var(--wetasphalt);
}

#cont-btn {
	background-color: var(--wetasphalt);
	color: var(--text-white);
}

@media (max-width: 990px) {
	.modal-content {
		padding: 3em;

		* {
			margin-left: 0;
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;
		}
	}
	.warning-first {
		font-size: 2rem;
	}

	.warning-second {
		font-size: 1.5rem;
	}

	.warning-checkbox {
		font-size: 1.2rem;

		.checkbox-box {
			width: 17px;
			height: 17px;
			margin-top: .1em;
		}
	}

	input[type="checkbox"]:checked ~ .checkbox-box {
		background-position: 1px 1px;
	}

	button {
		font-size: 1.2rem;
		border-width: 2px;
		border-radius: 15px;
	}
}

@media (max-width: 500px) {
	.modal-content {
		border-radius: 2em;
		padding: 2em;
	}

	.warning-first {
		font-size: 1.8rem;
	}

	.warning-second {
		font-size: 1.3rem;
	}

	.warning-checkbox {
		font-size: 1rem;

		.checkbox-box {
			width: 13px;
			height: 13px;
			margin-top: .08em;
		}
	}

	input[type="checkbox"]:checked ~ .checkbox-box {
		background-position: initial;
		background-size: cover;
	}

	button {
		font-size: 1rem;
		border-width: 1px;
	}
}
