@import "src/styles";

.report-wrapper {
	margin: 5em 0 0 5em;
	width: 80%;
}

.name-input {
	margin-bottom: 3em;

	h2 {
		font-size: 1.2em;
		margin-left: 1em;
		margin-bottom: .1em;
	}

	input {
		border: 1px solid $asbestos;
		border-radius: .7em;
		background-color: $white;
		box-sizing: border-box;
		font-size: 1.2rem;
		width: 100%;
		padding: .5em 2em;
		overflow-x: auto;

		&:focus {
			border: 2px solid $wetasphalt;
			outline: none;
		}
	}
}

button {
	display: block;
	border: 1px solid $wetasphalt;
	border-radius: 20px;
	margin: 4em auto 6em;
	padding: .7em 1.5em;
	font-size: 1.2rem;
	letter-spacing: .05em;
	background-color: $wetasphalt;
	color: $white;
}

.shadow-bg {
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 600px) {
	.report-wrapper {
		margin-left: 2em;
		margin-top: 3em;
	}
}

@media (min-width: 1100px) {
	.report-wrapper {
		margin-left: 7em;
	}
}