<div [className]="'modal fade'" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div [className]="'modal-dialog modal-lg'" role="document">
		<div [className]="'modal-content'">
			<p [className]="'warning-first'">
				<span>Caution</span> - there are some fields you left empty
			</p>

			<div [className]="'horizontal-bar'"></div>

			<p [className]="'warning-second'">
				If you decide to continue, we will automatically fill them with "None"
			</p>

			<div [className]="'warning-checkbox'">
				<input type="checkbox" name="dont-warn-again" id="dont-warn-again">
				<label for="dont-warn-again">Don't warn me about this again</label>
			</div>

			<div [className]="'button-row'">
				<button id="back-btn" data-dismiss="modal">
					Back
				</button>
				<button id="cont-btn">
					Continue
				</button>
			</div>
		</div>
	</div>
</div>