@import "src/styles";

.header-wrapper {
	width: 100vw;
	height: 10vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--wetasphalt);
	box-shadow: 0 .2em .2em rgba(0, 0, 0, 0.3);
	z-index: 5;

	h1 {
		color: var(--white);
		font-size: 2.3em;
		letter-spacing: .05em;

		&:hover {
			cursor: pointer;
		}
	}

	.header-menu {
		background: url("/assets/img/dashboard/menu.svg") var(--asbestos);
		background-size: 60% 75%;
		background-repeat: no-repeat;
		background-position: center;
		height: 2.75em;
		width: 2.75em;
		border: none;
		outline: none;
		border-radius: .7em;
		margin-left: 3em;
		@include button_hover;
	}

	.header-new {
		background-color: var(--asbestos);
		outline: none;
		color: var(--white);
		height: 1.4em;
		width: 1.4em;
		border: none;
		border-radius: 3em;
		margin-right: 1.5em;
		font-size: 2rem;
		@include button_hover(1.25);
	}
}

@media (max-width: 500px) {
	.header-wrapper {
		h1 {
			font-size: 1.8rem;
		}

		.header-menu {
			margin-left: 2em;
			height: 2.5em;
			width: 2.5em;
		}

		.header-new {
			margin-right: 1em;
			height: 1.2em;
			width: 1.2em;
			line-height: 1.2em;
		}
	}
}