@import "src/styles";

.header-wrapper {
	width: 100vw;
	height: 10vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--wetasphalt);
	box-shadow: 0 .2em .2em rgba(0, 0, 0, 0.3);
	z-index: 5;

	h1 {
		color: var(--white);
		font-size: 2.3em;
		letter-spacing: .05em;

		&:hover {
			cursor: pointer;
		}
	}

	.header-menu {
		background: url("/assets/img/dashboard/menu.svg") var(--asbestos);
		background-size: 60% 75%;
		background-repeat: no-repeat;
		background-position: center;
		height: 2.75em;
		width: 2.75em;
		border: none;
		outline: none;
		border-radius: .7em;
		margin-left: 3em;
		@include button_hover;
	}

	.header-new {
		background-color: var(--asbestos);
		outline: none;
		color: var(--white);
		height: 1em;
		width: 1em;
		border: none;
		border-radius: 3em;
		margin-right: 1em;
		font-size: 3rem;
		line-height: 1;
		@include button_hover(1.2);
	}

	.new-report-dropdown {
		opacity: 0;
		visibility: hidden;
		z-index: 5;
		width: 11em;
		background-color: var(--table-bg);
		position: absolute;
		right: 3em;
		top: 8vh;
		border: none;
		border-radius: 1em;
		padding: .5em 1em .5em 2em;
		transition: all 100ms ease-in-out;

		img {
			margin-right: 1.25em;
			height: 1.5rem;
			width: 20%;
		}

		span {
			width: 80%;
		}

		&.show {
			opacity: 1;
			visibility: visible;
		}
	}

	.field {
		display: inline-block;
		align-items: center;
		padding: 1em 0;
		width: 90%;
		transition: width 250ms ease-in-out;
	}

	.clickable {
			cursor: pointer;
			transition: transform 200ms;

			&:hover {
				transform: translateX(5px) scaleX(1.1);
			}
		}

	#reportUpload {
		opacity: 0;
		position: absolute;
		z-index: -1;
	}
}

@media (max-width: 500px) {
	.header-wrapper {
		h1 {
			font-size: 1.8rem;
		}

		.header-menu {
			margin-left: 2em;
			height: 2.5em;
			width: 2.5em;
		}

		.header-new {
			margin-right: 1em;
			font-size: 2.5rem;
			line-height: .8;
		}
	}
}