@import "src/styles";

button {
	outline: none;
	border: none;
	border-radius: 1em;
	position: fixed;
	top: 50px;
	left: 50px;
	height: 2em;
	width: 4em;
	background-color: white;
	color: $asbestos;
	font-size: 2rem;
	box-shadow: .3em .3em .3em rgba(0, 0, 0, .1);
	@include button_hover;
}


.display-report-wrapper {
	margin: 4em auto;
	padding: 3em;
	background-color: white;
	border: none;
	border-radius: 1em;
}

h1 {
	width: 100%;
	text-align: center;
	margin-bottom: 1.5em;
}

.display-report-border {
	width: 100%;
	height: 1px;
	margin: 2em auto;
	background-color: $asbestos;
	border: none;
	border-radius: 5px;
}

.display-report-row {
	display: flex;
	flex-direction: row;
	
	h2 {
		width: 30%;
		margin: auto 0;
	}

	h3, ul {
		width: 70%;
		margin-left: 2em;
	}

	li {
		font-size: 1.5rem;
		margin-bottom: .5em;
	}
}

@media (max-width: 1600px) {
	button {
		width: 100%;
		left: 0;
		top: 0;
		border-radius: 0;
	}

	.display-report-wrapper {
		margin-top: 7em;
	}
}

@media (max-width: 767px) {
	.report-element {
		flex-direction: column;

		h2, ul {
			margin-left: 0;
			width: 100%;
		}

		h2 {
			margin-bottom: .75em;
			text-align: center;
		}
	}
}

@media (max-width: 575px) {
	.display-report-wrapper {
		border-radius: 0;
		margin: 4em 0 0;
		padding: 1.5em;
	}
}