<div [className]="'login-body'">
	<div [className]="'login-img'"></div>

	<div [className]="'login-wrapper'">
		<h1>Login</h1>
		<form #loginForm="ngForm" (ngSubmit)="login(); loginForm.control.markAsPristine()">
			<div [className]="'username-wrapper'">
				<label for="login-username">Username</label>
				<input type="text" [class.validation-error-border]="checkUsernameValid(loginForm)" id="login-username"
					name="username" [(ngModel)]="username" required minlength="3" #userName="ngModel">
				<span [class.validation-error-show]="!(userName.valid || loginForm.pristine)" [className]="'validation-error-text'">Username too
					short
					(min. 3 characters)</span>
				<span [class.validation-error-show]="!(userName.dirty || usernameFound)" [className]="'validation-error-text'">No user with such
					username was found</span>
			</div>

			<div [className]="'password-wrapper'">
				<label for="login-password">Password</label>
				<input type="password" id="login-password" name="password" [(ngModel)]="password" #passWord="ngModel"
					required minlength="8" [class.validation-error-border]="checkPasswordValid(passWord, 8)">
				<span [class.validation-error-show]="!(passWord.valid || passWord.pristine)" [className]="'validation-error-text'">Password is
					too short (min. 8 characters)</span>
				<span [class.validation-error-show]="!(passWord.dirty || passwordMatches || !usernameFound)"
					[className]="'validation-error-text'">Wrong password</span>
			</div>

			<button type="submit" [disabled]="!loginForm.form.valid">Login</button>
		</form>
	</div>
</div>