@import "src/styles";

h2 {
	margin-left: 1em;
	margin-bottom: .1em;
	font-size: 1.2em;
}

div {
	border: 1px solid var(--pass-border);
	border-radius: 1em;
	background-color: var(--bg);
	box-sizing: border-box;
	margin-bottom: 3em;
	overflow-x: auto;

	&:focus-within {
		border: var(--border-size) solid var(--wetasphalt);
	}
}

ul {
	padding: .5em 2em;
	font-size: 1.2rem;
	list-style-type: disc;
	line-height: 1.2em;
}

li {
	margin: .5em 0;
	overflow-wrap: normal;

		&::marker {
		background-color: var(--text);
		size: 2em;
	}
}