div {
	border: 1px solid grey;
	border-radius: 1em;
	width: 30%;
	height: auto;
	margin-left: 1em;
}

ul {
	padding: .5em 2em;
	font-size: 1.2rem;
}

li {
	margin: .5em 0;
}

h2 {
	margin-left: 1.2em;
	margin-bottom: -.05em;
}