<form #resetPassForm="ngForm" (ngSubmit)="updatePassword()" [className]="'reset-pass-wrapper'">
	<div [className]="'reset-pass-field'">
		<h2>
			New password
		</h2>
		<input type="password" name="firstNewPassword" [(ngModel)]="firstNewPassword" #firstNewPass="ngModel" required
			(keyup)="determinePasswordStrength(firstNewPass)">
		<span id="pass-strength" [class.validation-error-show]="firstNewPass.dirty">
			Password strength: {{passwordStrength}}
		</span>
	</div>

	<div [className]="'reset-pass-field'">
		<h2>
			Confirm password
		</h2>
		<input type="password" name="secondNewPassword" [(ngModel)]="secondNewPassword" #secondNewPass="ngModel"
			required [class.weak]="secondNewPass.dirty && firstNewPassword !== secondNewPassword"
			[class.strong]="secondNewPass.dirty && firstNewPassword === secondNewPassword">
		<span [class.validation-error-show]="!(secondNewPass.valid && firstNewPassword === secondNewPassword || secondNewPass.pristine)"
			[className]="'validation-error-text'">
			Passwords don't match
		</span>
	</div>

	<div [className]="'reset-pass-btn-wrapper'">
		<button [className]="'btn-back'" data-toggle="tooltip" data-placement="bottom" title="Go back"
			(click)="resetPassForm.reset()" routerLink="/app/dashboard">&lt;</button>
		<button type="submit" [disabled]="!canSubmit(resetPassForm)">
			Reset password
		</button>
	</div>
</form>