:root {
	// neutral colors
	--orange: #ffa500;
	--baasic: #00C2E8;
	--mono: #EB544E;

	// used in both
	--wetasphalt: #34495e;
	--asbestos: #7f8c8d;

	// light colors
	--white: #fafafa;
	--clouds: #ecf0f1;


	// dark colors
	--dark-body-bg: #333;
	--dark-text: #ddd;
	--dark-bg: #434343;
}


// font
@import url('https://fonts.googleapis.com/css?family=Aleo:400,700&display=swap&subset=latin-ext');

// mixins
@mixin button_hover($s: 1.1) {
	&:enabled {
		transition: transform .2s;
		
		&:hover {
			transform: scale($s);
		}
	}
}

@mixin validation_error() {	
	.validation-error-text {
		color: red;
	}

	.validation-error-show {
		opacity: 1;
		font-size: initial;
	}
	
	.validation-error-border {
		border-color: red;
	}
}


// style
body {
	font-family: 'Aleo', serif;
	background-color: var(--body-bg);
	color: var(--text);

	transition: background 250ms ease-in-out, color 500ms ease-in-out;
}

a {
	text-decoration: none;
}

button {
	font-family: 'Aleo', serif;
	cursor: pointer;
	outline: none;

	&:disabled {
		transform: none;
		opacity: .6;
		cursor: not-allowed;
	}
}

ul, h1 {
	margin-bottom: 0;
}

input {
	outline: none;
}


// themes
.light {
	--body-bg: var(--clouds);
	--text: var(--wetasphalt);
	--bg: var(--white);
	--table-bg: white;
	--text-gray: var(--asbestos);
	--text-white: var(--white);
	--pass-border: var(--asbestos);
	--back-btn: white;

	--border-size: 2px;
}

.dark {
	--body-bg: var(--dark-body-bg);
	--text: var(--dark-text);
	--bg: var(--dark-bg);
	--table-bg: var(--dark-bg);
	--text-gray: var(--dark-text);
	--text-white: var(--dark-text);
	--pass-border: var(--dark-bg);
	--back-btn: var(--dark-text);

	--border-size: 5px;

	// change "show more" arrow color to white on dark theme
	#show-more-reports img {
		filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(303%) hue-rotate(178deg) brightness(96%) contrast(80%);
	}
}