// colors
$white: #fafafa;
$clouds: #ecf0f1;
$wetasphalt: #34495e;
$asbestos: #7f8c8d;
$orange: #ffa500;
$baasic: #00C2E8;
$mono: #EB544E;

// font
@import url('https://fonts.googleapis.com/css?family=Aleo:400,700&display=swap&subset=latin-ext');

// mixins
@mixin button_hover($s: 1.1) {
	transition: transform .2s;

	&:hover {
		transform: scale($s);
	}
}


// style
body {
	background-color: $clouds;
	font-family: 'Aleo', serif;
	color: $wetasphalt;
}

a {
	text-decoration: none;
}

button {
	font-family: 'Aleo', serif;
	cursor: pointer;
	outline: none;
}

ul, h1 {
	margin-bottom: 0;
}