@import "src/styles.scss";


// TODO: stop navigation from appearing on load

.navigation-wrapper {
	display: flex;
	flex-direction: row;
}

.navigation-sidepanel {
	background-color: var(--asbestos);
	color: var(--white);
	position: fixed;
	height: 90vh;
	width: 0;
	max-width: 400px;
	min-width: 0;
	font-size: 1.6rem;
	padding: 0;
	margin-top: 10vh;
	z-index: 3;
	visibility: hidden;
	opacity: 0;
	transition: all 250ms linear;
	transition-property: width min-width opacity visibility;

	.navigation-horizontal-bar {
		width: 110%;
		height: 2px;
		background-color: var(--white);
		border: none;
		border-radius: .1em;
		margin: .5em 0 .5em -.5em;
	}

	.field {
		display: inline-block;
		align-items: center;
		margin: 1.1em 0;
		height: 1.05em;
		width: 90%;
	}

	img {
		margin-right: .7em;
		height: 100%;
		width: 15%;
	}

	#navigation-logout {
		position: absolute;
		bottom: 3%;
	}
}

.navigation-background-shadow {
	width: 100%;
	height: 90vh;
	margin-top: 10vh;
	background-color: rgba(0, 0, 0, .7);
	z-index: 3;
	position: fixed;
	visibility: hidden;
	opacity: 0;
	transition: all 200ms linear;
}


.navigation-wrapper.navigation-show {
	.navigation-sidepanel {
		width: 25vw;
		min-width: 320px;
		padding: 1em 1.5em 0;
		visibility: visible;
		opacity: 1;

		.field, .navigation-horizontal-bar, img {
			transition: width 250ms ease-in-out;
		}

		.clickable {
			cursor: pointer;
			transition: transform 200ms;

			&:hover {
				transform: translateX(10px) scaleX(1.1);
			}
		}
	}

	.navigation-background-shadow {
		visibility: visible;
		opacity: 1;
	}
}


@media (max-width: 800px) {
	.navigation-sidepanel {
		max-width: initial;
		width: 0;
	}

	.navigation-wrapper.navigation-show {
		.navigation-sidepanel {
			width: 50%;
			visibility: visible;
			opacity: 1;
		}
	}
}

@media (max-width: 425px) {
	.navigation-sidepanel {
		max-width: initial;
		height: 0;
		width: 100%;
		transition-property: height, opacity, visibility;
	}

	.navigation-wrapper.navigation-show {
		.navigation-sidepanel {
			height: 90vh;
			width: 100%;
			visibility: visible;
			opacity: 1;
		}
	}
}