<app-back-button></app-back-button>

<header>
	<h3>
		<span>Something went wrong while</span>&nbsp;<span>parsing your report file.</span>
	</h3>
	<h5 [className]="'rpf-mobile'">Please make sure it uses the correct format.</h5>
	<h5 [className]="'rpf-desktop'">Here's some help:</h5>
</header>
<main [className]="'container wrapper'">
	<div id="rpf-captions">
		<span [className]="'rpf-caption'" id="rpf-caption-1">
			Start your report title <br> with a `<b>#</b>`.
		</span>
		<span [className]="'rpf-caption'" id="rpf-caption-2">
			Start each report <br> component with `<b>##</b>`.
		</span>
		<span [className]="'rpf-caption'" id="rpf-caption-3">
			Make sure to start <br> each item with a `<b>-</b>` ...
		</span>
		<span [className]="'rpf-caption'" id="rpf-caption-4">
			... even if there <br> is only one item.
		</span>
		<span [className]="'rpf-caption'" id="rpf-caption-5">
			Write component names, <br> even if they are empty.
		</span>
		<span [className]="'rpf-caption'" id="rpf-caption-6">
			Your end result should <br> look something like this.
		</span>
	</div>

	<svg id="rpf-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
		style="isolation:isolate" viewBox="0 0 1024 1700" width="1024pt" height="1700pt">
		<defs>
			<clipPath id="_clipPath_8mfrjeQ18uXeBiHqVUeUn86x13QWMZ7E">
				<rect width="1024" height="1700" />
			</clipPath>
		</defs>
		<g clip-path="url(#_clipPath_8mfrjeQ18uXeBiHqVUeUn86x13QWMZ7E)">
			<g style="isolation:isolate" id="rpf-editor">
				<path id="rpf-editor-body"
					d="M 22.317 0 L 1001.683 0 C 1014 0 1024 10 1024 22.317 L 1024 1677.683 C 1024 1690 1014 1700 1001.683 1700 L 22.317 1700 C 10 1700 0 1690 0 1677.683 L 0 22.317 C 0 10 10 0 22.317 0 Z"
					style="stroke:none;stroke-miterlimit:10;" />
				<path d="M 15 0 L 1009 0 C 1017.279 0 1024 6.721 1024 15 L 1024 60 L 0 60 L 0 15 C 0 6.721 6.721 0 15 0 Z"
					style="stroke:none;fill:#34495E;stroke-miterlimit:10;" />
				<g>
					<circle vector-effect="non-scaling-stroke" cx="110" cy="30" r="10" fill="rgb(46,204,113)" />
					<circle vector-effect="non-scaling-stroke" cx="70" cy="30" r="10" fill="rgb(241,196,15)" />
					<circle vector-effect="non-scaling-stroke" cx="30" cy="30" r="10" fill="rgb(231,76,60)" />
				</g>
				<line x1="0" y1="60" x2="1024" y2="60" vector-effect="non-scaling-stroke" stroke-width="3"
					stroke="rgb(51,51,51)" stroke-linejoin="miter" stroke-linecap="square" stroke-miterlimit="3" />
			</g>
			<g style="isolation:isolate" id="rpf-text-container">
				<g [class]="'rpf-text'" id="rpf-title" clip-path="url(#_clipPath_LXgJAqrUtuJbDhVKBFgfqOxwtKavZ04X)">
					<text transform="matrix(1,0,0,1,50,130.94)"
						style="font-family:'Ubuntu Mono';font-weight:700;font-size:18px;font-style:normal;stroke:none;">
						# Report title
					</text>
				</g>
				<g id="rpf-done">
					<g [class]="'rpf-text rpf-done-item'" clip-path="url(#_clipPath_4fTtOF2nvShmZaAZsPeRAOY2YUg5lCvW)"><text
							transform="matrix(1,0,0,1,90,225.94)"
							style="font-family:'Ubuntu Mono';font-weight:700;font-size:18px;font-style:normal;stroke:none;">-
							a thing</text></g>
					<defs>
						<clipPath id="_clipPath_4fTtOF2nvShmZaAZsPeRAOY2YUg5lCvW">
							<rect x="0" y="0" width="130" height="30" transform="matrix(1,0,0,1,90,205)" />
						</clipPath>
					</defs>
					<g [class]="'rpf-text rpf-done-item'" clip-path="url(#_clipPath_8cu0gol4X6YoxpbBNcV1pLjssbLcwMmu)"><text
							transform="matrix(1,0,0,1,90,250.94)"
							style="font-family:'Ubuntu Mono';font-weight:700;font-size:18px;font-style:normal;stroke:none;">
							- another thing
						</text>
					</g>
					<defs>
						<clipPath id="_clipPath_8cu0gol4X6YoxpbBNcV1pLjssbLcwMmu">
							<rect x="0" y="0" width="170" height="30" transform="matrix(1,0,0,1,90,230)" />
						</clipPath>
					</defs>
					<g [class]="'rpf-text rpf-done-item'" clip-path="url(#_clipPath_qP5tjr9gHQCAfw6qecFpRxHnA3Bpt5Be)"><text
							transform="matrix(1,0,0,1,90,275.94)"
							style="font-family:'Ubuntu Mono';font-weight:700;font-size:18px;font-style:normal;stroke:none;">-
							many things</text></g>
					<defs>
						<clipPath id="_clipPath_qP5tjr9gHQCAfw6qecFpRxHnA3Bpt5Be">
							<rect x="0" y="0" width="150" height="30" transform="matrix(1,0,0,1,90,255)" />
						</clipPath>
					</defs>
					<g id="rpf-done-title" [class]="'rpf-text'" clip-path="url(#_clipPath_6Sq8qxcntm9mEoLtW7UkqhPs3V59ZBsF)"><text
							transform="matrix(1,0,0,1,50,190.94)"
							style="font-family:'Ubuntu Mono';font-weight:700;font-size:18px;font-style:normal;stroke:none;">##
							Done</text></g>
					<defs>
						<clipPath id="_clipPath_6Sq8qxcntm9mEoLtW7UkqhPs3V59ZBsF">
							<rect x="0" y="0" width="160" height="30" transform="matrix(1,0,0,1,50,170)" />
						</clipPath>
					</defs>
				</g>
				<g id="rpf-inprogress">
					<g [class]="'rpf-text rpf-inprogress'" clip-path="url(#_clipPath_vgQndQeoy9yq85tFHSjzimWzCkXUYeto)"><text
							transform="matrix(1,0,0,1,51.25,340.94)"
							style="font-family:'Ubuntu Mono';font-weight:700;font-size:18px;font-style:normal;stroke:none;">##
							In progress</text></g>
					<defs>
						<clipPath id="_clipPath_vgQndQeoy9yq85tFHSjzimWzCkXUYeto">
							<rect x="0" y="0" width="180" height="30" transform="matrix(1,0,0,1,51.25,320)" />
						</clipPath>
					</defs>
					<g [class]="'rpf-text rpf-inprogress'" clip-path="url(#_clipPath_HY17GwzpyLwFDm0rfidof6gyUH0L7GHw)"><text
							transform="matrix(1,0,0,1,90,375.94)"
							style="font-family:'Ubuntu Mono';font-weight:700;font-size:18px;font-style:normal;stroke:none;">-
							something long</text></g>
					<defs>
						<clipPath id="_clipPath_HY17GwzpyLwFDm0rfidof6gyUH0L7GHw">
							<rect x="0" y="0" width="170" height="30" transform="matrix(1,0,0,1,90,355)" />
						</clipPath>
					</defs>
				</g>
				<g>
					<g id="rpf-scheduled-title" [class]="'rpf-text'" clip-path="url(#_clipPath_Sx01tLBykwjGz6EsU0iFKdOcKL26SftY)">
						<text transform="matrix(1,0,0,1,50,435.94)"
							style="font-family:'Ubuntu Mono';font-weight:700;font-size:18px;font-style:normal;stroke:none;">##
							Scheduled</text>
					</g>
					<defs>
						<clipPath id="_clipPath_Sx01tLBykwjGz6EsU0iFKdOcKL26SftY">
							<rect x="0" y="0" width="170" height="30" transform="matrix(1,0,0,1,50,415)" />
						</clipPath>
					</defs>
				</g>
				<g>
					<g [class]="'rpf-text rpf-problems'" clip-path="url(#_clipPath_6mHCDaKjdsZyBivnF6Nagu6RWGnm4LwW)"><text
							transform="matrix(1,0,0,1,50,500.94)"
							style="font-family:'Ubuntu Mono';font-weight:700;font-size:18px;font-style:normal;stroke:none;">##
							Problems</text></g>
					<defs>
						<clipPath id="_clipPath_6mHCDaKjdsZyBivnF6Nagu6RWGnm4LwW">
							<rect x="0" y="0" width="160" height="30" transform="matrix(1,0,0,1,50,480)" />
						</clipPath>
					</defs>
					<g [class]="'rpf-text rpf-problems'" clip-path="url(#_clipPath_2Olgc8JwfaXlHLIqo0T8aY3CelECT5nq)"><text
							transform="matrix(1,0,0,1,88.75,535.94)"
							style="font-family:'Ubuntu Mono';font-weight:700;font-size:18px;font-style:normal;stroke:none;">-
							report format</text></g>
					<defs>
						<clipPath id="_clipPath_2Olgc8JwfaXlHLIqo0T8aY3CelECT5nq">
							<rect x="0" y="0" width="182.5" height="30" transform="matrix(1,0,0,1,88.75,515)" />
						</clipPath>
					</defs>
				</g>

				<defs>
					<clipPath id="_clipPath_LXgJAqrUtuJbDhVKBFgfqOxwtKavZ04X">
						<rect x="0" y="0" width="190" height="30" transform="matrix(1,0,0,1,50,110)" />
					</clipPath>
				</defs>
			</g>
		</g>
	</svg>
</main>