@import "src/styles";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

$margin-top: 5em;

.rpf-mobile {
	display: none;
}

header {
	width: 100%;

	span {
		display: inline-block;
	}
}

h3, h5 {
	margin: 0 2em;
	text-align: center;
}

h3 {
	margin-top: 3em;
}

h5 {
	margin-top: 2em;
}

.wrapper {
	margin-top: $margin-top;
	height: calc(84vh - $margin-top);
	overflow: hidden;
}

.rpf-text {
	opacity: 0;
}

#rpf-captions {
	z-index: 5;
	position: relative;
	float: right;
	width: 40%;
	margin-right: 2em;
}

.rpf-caption {
	opacity: 0;
	width: 100%;
	font-size: 1.75em;
	position: absolute;
	margin-top: 35%;
	text-align: center;

	border-radius: 10px;
	padding: 2em 0;
}


#rpf-header-bg {
	fill: var(--body-bg);
}

#rpf-editor-body {
	fill: var(--table-bg);
}

.rpf-text {
	fill: var(--text);
}

.rpf-caption {
	background-color: var(--body-bg);
}

h3, h5, .rpf-caption {
	color: var(--text);
}


// adapt on laptops
@media (max-height: 850px) {
	h3 {
		font-size: 1.5rem !important;
	}

	h5 {
		font-size: 1rem !important;

		&.rpf-desktop {
			margin-top: 1em;
		}
	}

	.wrapper {
		margin-top: 2rem;
		height: calc(90vh - 2rem);
	}

	.rpf-caption {
		font-size: 1.5em;
	}
}



// display animation only on laptops/desktops
@media (max-width: 1200px), (max-height: 765px) {
	#rpf-svg, main, h5.rpf-desktop {
		display: none;
	}

	.rpf-mobile {
		display: inline;
	}

	header {
		display: flex;
		flex-direction: column;
	}

	h3 {
		margin-top: 7em !important;
	}	
}

// wrap text nicely when on small screens
@media (max-width: 576px) {
	header span {
		display: inline;
	}
}