<app-back-button></app-back-button>

<header>
	<h3>
		<span>Something went wrong while</span>&nbsp;<span>parsing your report file.</span>
	</h3>
	<h5 [className]="'rpf-mobile'">Please make sure it uses the correct format.</h5>
	<h5 [className]="'rpf-desktop'">Here's some help:</h5>
</header>
<main [className]="'container wrapper'">
	<div id="rpf-captions">
		<span [className]="'rpf-caption'" id="rpf-caption-1">
			Start your report title <br> with a `<b>#</b>`.
		</span>
		<span [className]="'rpf-caption'" id="rpf-caption-2">
			Start each report <br> component with `<b>##</b>`.
		</span>
		<span [className]="'rpf-caption'" id="rpf-caption-3">
			Make sure to start <br> each item with a `<b>-</b>` ...
		</span>
		<span [className]="'rpf-caption'" id="rpf-caption-4">
			... even if there <br> is only one item.
		</span>
		<span [className]="'rpf-caption'" id="rpf-caption-5">
			Write component names, <br> even if they are empty.
		</span>
		<span [className]="'rpf-caption'" id="rpf-caption-6">
			Your end result should <br> look something like this.
		</span>
	</div>

	<svg id="rpf-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
		style="isolation:isolate" viewBox="0 0 1024 1700" width="1024pt" height="1700pt">
		<defs>
			<clipPath id="_clipPath_wtvOPgxih58cLK85drr6I6Q8bqqIOtft">
				<rect width="1024" height="1700" />
			</clipPath>
		</defs>
		<g clip-path="url(#_clipPath_wtvOPgxih58cLK85drr6I6Q8bqqIOtft)">
			<g id="rpf-editor">
				<path id="rpf-editor-body"
					d="M 0 40 L 1024 40 L 1024 1658.08 C 1024 1670.178 1014.178 1680 1002.08 1680 L 21.92 1680 C 9.822 1680 0 1670.178 0 1658.08 L 0 40 Z"
					style="stroke:none;stroke-miterlimit:10;" />
				<g>
					<g class="rpf-text" id="rpf-title" clip-path="url(#_clipPath_oxPRpNxuZbp5bd3dFReVIrXr5dvA3l23)"><text
							transform="matrix(1,0,0,1,50,85.94)"
							style="font-family:'Ubuntu Mono';font-weight:700;font-size:18px;font-style:normal;stroke:none;">#
							Report title</text></g>
					<g id="rpf-done">
						<g id="rpf-done-title" class="rpf-text" clip-path="url(#_clipPath_NrDeC4U32XW4hrgS67nAEBJJk0qboJOv)"><text
								transform="matrix(1,0,0,1,50,130.94)"
								style="font-family:'Ubuntu Mono';font-weight:700;font-size:18px;font-style:normal;stroke:none;">##
								Done</text></g>
						<defs>
							<clipPath id="_clipPath_NrDeC4U32XW4hrgS67nAEBJJk0qboJOv">
								<rect x="0" y="0" width="160" height="30" transform="matrix(1,0,0,1,50,110)" />
							</clipPath>
						</defs>
						<g class="rpf-text rpf-done-item" clip-path="url(#_clipPath_5f65MY7mleavEGHo9PGcwocr4sDqTa1O)"><text
								transform="matrix(1,0,0,1,90,160.94)"
								style="font-family:'Ubuntu Mono';font-weight:700;font-size:18px;font-style:normal;stroke:none;">-
								a thing</text></g>
						<defs>
							<clipPath id="_clipPath_5f65MY7mleavEGHo9PGcwocr4sDqTa1O">
								<rect x="0" y="0" width="130" height="30" transform="matrix(1,0,0,1,90,140)" />
							</clipPath>
						</defs>
	
	
						<g class="rpf-text rpf-done-item" clip-path="url(#_clipPath_XREqDKJHdZElYayhNF8EOdo54zBayHOD)"><text
								transform="matrix(1,0,0,1,90,185.94)"
								style="font-family:'Ubuntu Mono';font-weight:700;font-size:18px;font-style:normal;stroke:none;">-
								another thing</text></g>
						<defs>
							<clipPath id="_clipPath_XREqDKJHdZElYayhNF8EOdo54zBayHOD">
								<rect x="0" y="0" width="170" height="30" transform="matrix(1,0,0,1,90,165)" />
							</clipPath>
						</defs>
						<g class="rpf-text rpf-done-item" clip-path="url(#_clipPath_xKUX2GBFFJpSvwtrlyhVvOnUcKn7GB95)"><text
								transform="matrix(1,0,0,1,90,210.94)"
								style="font-family:'Ubuntu Mono';font-weight:700;font-size:18px;font-style:normal;stroke:none;">-
								many things</text></g>
						<defs>
							<clipPath id="_clipPath_xKUX2GBFFJpSvwtrlyhVvOnUcKn7GB95">
								<rect x="0" y="0" width="150" height="30" transform="matrix(1,0,0,1,90,190)" />
							</clipPath>
						</defs>
					</g>
					<g id="rpf-inprogress">
						<g class="rpf-text rpf-inprogress" clip-path="url(#_clipPath_85bNNhp5P5PqncYbqokKAMPKdnshIGNQ)"><text
								transform="matrix(1,0,0,1,50,260.94)"
								style="font-family:'Ubuntu Mono';font-weight:700;font-size:18px;font-style:normal;stroke:none;">##
								In progress</text></g>
						<defs>
							<clipPath id="_clipPath_85bNNhp5P5PqncYbqokKAMPKdnshIGNQ">
								<rect x="0" y="0" width="180" height="30" transform="matrix(1,0,0,1,50,240)" />
							</clipPath>
						</defs>
						<g class="rpf-text rpf-inprogress" clip-path="url(#_clipPath_w6QxR7aOwOiMThmfsEHn4prvbF1Yy6fC)"><text
								transform="matrix(1,0,0,1,88.75,290.94)"
								style="font-family:'Ubuntu Mono';font-weight:700;font-size:18px;font-style:normal;stroke:none;">-
								something long</text></g>
						<defs>
							<clipPath id="_clipPath_w6QxR7aOwOiMThmfsEHn4prvbF1Yy6fC">
								<rect x="0" y="0" width="170" height="30" transform="matrix(1,0,0,1,88.75,270)" />
							</clipPath>
						</defs>
	
					</g>
					<g>
						<g id="rpf-scheduled-title" class="rpf-text" clip-path="url(#_clipPath_Ba6D7eGaHk0WloafnkRVqrCBDjPuAeGu)">
							<text transform="matrix(1,0,0,1,50,340.94)"
								style="font-family:'Ubuntu Mono';font-weight:700;font-size:18px;font-style:normal;stroke:none;">##
								Scheduled</text></g>
						<defs>
							<clipPath id="_clipPath_Ba6D7eGaHk0WloafnkRVqrCBDjPuAeGu">
								<rect x="0" y="0" width="170" height="30" transform="matrix(1,0,0,1,50,320)" />
							</clipPath>
						</defs>
					</g>
					<g>
						<g class="rpf-text rpf-problems" clip-path="url(#_clipPath_r0sl0tqdkrCxeoaY5SSoeWHcGFN7gffV)"><text
								transform="matrix(1,0,0,1,50,400.94)"
								style="font-family:'Ubuntu Mono';font-weight:700;font-size:18px;font-style:normal;stroke:none;">##
								Problems</text></g>
						<defs>
							<clipPath id="_clipPath_r0sl0tqdkrCxeoaY5SSoeWHcGFN7gffV">
								<rect x="0" y="0" width="160" height="30" transform="matrix(1,0,0,1,50,380)" />
							</clipPath>
						</defs>
						<g class="rpf-text rpf-problems" clip-path="url(#_clipPath_bbnJ4YOtgBxwx5P1gQGhYjXRgHxqqJi1)"><text
								transform="matrix(1,0,0,1,90,430.94)"
								style="font-family:'Ubuntu Mono';font-weight:700;font-size:18px;font-style:normal;stroke:none;">-
								report format</text></g>
						<defs>
							<clipPath id="_clipPath_bbnJ4YOtgBxwx5P1gQGhYjXRgHxqqJi1">
								<rect x="0" y="0" width="182.5" height="30" transform="matrix(1,0,0,1,90,410)" />
							</clipPath>
						</defs>
	
					</g>
	
	
	
					<defs>
						<clipPath id="_clipPath_oxPRpNxuZbp5bd3dFReVIrXr5dvA3l23">
							<rect x="0" y="0" width="190" height="30" transform="matrix(1,0,0,1,50,65)" />
						</clipPath>
					</defs>
				</g>
			</g>
			<g>
				<rect id="rpf-header-bg" x="0" y="0" width="1024" height="40" transform="matrix(1,0,0,1,0,0)" />
				<path
					d="M 12.247 0 L 1011.753 0 C 1018.512 0 1024 5.488 1024 12.247 L 1024 40 L 0 40 L 0 12.247 C 0 5.488 5.488 0 12.247 0 Z"
					style="stroke:none;fill:#34495E;stroke-miterlimit:10;" />
				<g>
					<circle vector-effect="non-scaling-stroke" cx="88" cy="20" r="7" fill="rgb(46,204,113)" />
					<circle vector-effect="non-scaling-stroke" cx="60" cy="20" r="7" fill="rgb(241,196,15)" />
					<circle vector-effect="non-scaling-stroke" cx="32" cy="20" r="7" fill="rgb(231,76,60)" />
				</g>
				<line x1="0" y1="40" x2="1024" y2="40" vector-effect="non-scaling-stroke" stroke-width="2" stroke="rgb(51,51,51)"
					stroke-linejoin="miter" stroke-linecap="square" stroke-miterlimit="3" />
			</g>
		</g>
	</svg>
</main>