<!-- No reports to show -->
<div [className]="'dashboard-no-reports container jumbotron'" *ngIf="this.reports.length === 0">
	<h2>There are no reports to display.</h2>
	<h4>Try adjusting your filters or create a new report by pressing the '+' button in the top-right corner.</h4>
</div>


<div [className]="'dashboard-table'" *ngIf="this.reports.length > 0">
	<!-- Search and filter -->
	<div [className]="'dashboard-saf'">
		<div [className]="'dashboard-saf-top'">
			<input type="text" placeholder="Search ...">

			<button data-toggle="tooltip" data-placenemt="top" title="Filter"
				(click)="this.showSearchAndFilterFields = !this.showSearchAndFilterFields">
				<img src="../../../assets/img/dashboard/filter.svg">
			</button>
		</div>

		<div [className]="'dashboard-saf-bottom'" *ngIf="this.showSearchAndFilterFields">
			<input type="text" placeholder="filter by report name">
			<input type="text" placeholder="filter by user">
			<div [className]="'dashboard-filter-date'">
				<input type="date" id="start-date">
				<input type="date" id="end-date">
			</div>
			<div [className]="'dropdown'">
				<button [className]="'dropdown-toggle'" data-toggle="dropdown">Problems?</button>
				<div [className]="'dropdown-menu'">
					<a [className]="'dropdown-item'">With problems</a>
					<div [className]="'dropdown-divider'"></div>
					<a [className]="'dropdown-item'">Without problems</a>
					<div [className]="'dropdown-divider'"></div>
					<a [className]="'dropdown-item'">All</a>
				</div>
			</div>
		</div>
	</div>


	<!-- Table -->
	<div [className]="'table-bg'">
		<table>
			<thead>
				<tr>
					<td>Name</td>
					<td>User</td>
					<td>Date</td>
					<td><img src="../../../assets/img/dashboard/problem-header.svg" rel="tooltip" data-placement="top"
							title="Does this report contain any problems?"></td>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let report of reports" routerLink="/app/report/{{report.id}}">
					<td>{{report.name}}</td>
					<td>{{report.user.name}}</td>
					<td>{{report.date | date}}</td>
					<td><img src="../../../assets/img/dashboard/problem.svg" *ngIf="report.problems.length > 0"
							rel="tooltip" data-placement="right" title="This report contains problems."></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>